@CHARSET "UTF-8";

body {
	background-color: rgb(153, 217, 234);
	font-family: Arial;
}

p {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: rgb(63, 72, 204);
}

td {
	padding: 3px;
	vertical-align: top;
}

th {
	border-bottom: solid 1px black;
}

label {
	font-size: 16px;
	color: rgb(63, 72, 204);
	margin-right: 30px;
}

.genre{
	font-size: 14px;
}

#dataOfBook{
	float: left;
}

#dataOfUser{
	float: right;
	width: 160
}

#absenden{
	clear: both;
	text-align: center;
}