@CHARSET "UTF-8";

body    {
    background-color: rgb(153,217,234);
    font-family: Arial;
}

p {
    text-align: center;
}

table {
    width: 50%;
    height: 60%;
}


td  {
    padding: 3px;
}

th {
    border-bottom: solid 1px black;
}

.a {
    font-size: 22px;
    font-weight: bold;
    color: rgb(63,72,204);
}

.b {
    font-size: 16px;
    color: rgb(63,72,204);
    margin-right: 30px;
}

.c {
	font-size: 14px;
}

a:link, a:visited, a:active {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    background-color: #ffffff;
    color: #1a205e;
    text-decoration: none;
}

.box {
    width: 300px;
    height: 150px;
    float: right;
    border: 1px solid #ffffff;
    margin-right: 20% ;
}

.box a:hover{
    background-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}