@CHARSET "UTF-8";

body {
	background-color: rgb(153, 217, 234);
	font-family: Arial;
}

p {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: rgb(63, 72, 204);
}

td {
	padding: 3px;
	vertical-align: top;
	horizontal-align: left;
}

th {
	border-bottom: solid 1px black;
}

label {
	font-size: 16px;
	color: rgb(63, 72, 204);
	margin-right: 30px;
}

.genre {
	font-size: 14px;
}

#dataOfBook {
	margin: 60px 0px 30px 60px;
	float: left;
	width: 560px;
	overflow: scroll;
}

#dataOfUser {
	margin: 60px 0px 30px 60px;
	width: 480px;
	float: left;
	overflow: scroll;
}

#absenden {
	clear: both;
	text-align: center;
}

input[type=submit] {
	font-size: 14px;
	padding: 5px 60px;
	margin: 60px;
	cursor: pointer;
	background-color: rgb(0, 162, 232);
	border-color: rgb(63, 72, 204);
	border-style: solid;
	border: 10px 10px;
}