@CHARSET "UTF-8";

body {
	background-color: rgb(153, 217, 234);
	font-family: Arial;
}

p {
	text-align: center;
	font-size: 22px;
	color: rgb(63, 72, 204);
	font-weight: bold;
	margin: 70px;
}

span {
	color: rgb(0, 0, 0);
}

h1 {
	color: rgb(63, 72, 204);
	font-size: 72px;
}

input[type=button] {
	color: rgb(0, 0, 0);
	background-color: rgb(0, 162, 232);
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding: 10px;
	width: 160px;
	border-color: rgb(63, 72, 204);
	border-style: solid;
	border: 10px 10px;
}

input[type=button]:hover {
	background-color: rgb(63, 72, 204);
	cursor: pointer;
}

input[type=submit] {
	color: rgb(63, 72, 204);
	font-size: 14px;
	padding: 5px 60px;
	margin: 60px;
	cursor: pointer;
	background-color: rgb(0, 162, 232);
	border-color: rgb(63, 72, 204);
	border-style: solid;
	border: 10px 10px;
}

table.entry td {
	padding: 3px;
	vertical-align: top;
	horizontal-align: left;
}

table.entry label {
	font-size: 16px;
	color: rgb(63, 72, 204);
	margin-right: 30px;
}

input[type=checkbox] {
	font-size: 14px;
}

#logo {
	vertical-align: middle;
	border: rgb(63, 72, 204);
	margin: 20px 72px;
	border-style: solid;
	border: 10px 10px;
	heigt: 245px;
	width: 400px;
	left: 100px;
}

#dataOfBook {
	
	/*margin: 60px 0px 30px 60px;*/
	position: relative;
	left: 60px;
	right: 60;
	float: left;
	width: 560px;
}

#dataOfUser {
	position: relative;
	left: 60px;
	right: 60;
	width: 480px;
	float: left;
}

#absenden {
	clear: both;
	text-align: center;
}
#bookMenu li{
	display: inline;
}
#bookMenu{
	text-align: center;
}
#bookMenu input[type=button]{
	width: 360px;
	height: 30px;
	font-size: 16px;
	padding: 2px;
	margin: 0px;
}